.gallery {
  padding: 100px 10%;
  text-align: center;
  background: #fff;
}

.gallery h2 {
  font-size: 2.8rem;
  color: #4e342e;
  margin-bottom: 10px;
}

.gallery p {
  color: #777;
  margin-bottom: 50px;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.gallery-card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
}

.gallery-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  display: block;
  transition: 0.5s ease;
}

.gallery-card:hover img {
  transform: scale(1.1);
}

.gallery-overlay {
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.55);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: 0.4s ease;
}

.gallery-card:hover .gallery-overlay {
  opacity: 1;
}

.gallery-overlay h3 {
  color: white;
  font-size: 22px;
  text-align: center;
}

.show-more-container {
  text-align: center;
  margin-top: 40px;
}

.show-more-btn {
  padding: 14px 35px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(45deg,#c9a227,#8d6e63);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.show-more-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(255, 152, 0, 0.3);
}

/* Mobile */
@media (max-width: 768px) {
  .gallery h2 {
    font-size: 2rem;
  }

  .gallery-card img {
    height: 220px;
  }
}