@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: "Cinzel", serif;
  background: #0b0b0f;
  color: white;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 700;
  letter-spacing: 3px;
}